.post {
	margin: 20px;
	padding: 20px;
	border: 1px solid gray;
	background-color: rgb(0, 174, 177);
	border-radius: 20px;

	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: 75% 25%;
}

.post Img {
	height: 50px;
	width: 50px;
}

#likeImg {
	height: 20px;
	width: 20px;
}
