.header {
	background-color: rgb(94, 175, 224);
	padding: 5px;

	font-size: 24px;
	text-align: center;
	border-radius: 20px 20px 0 0;

	grid-area: header;
}

.header img {
	height: 100%;
	border-radius: 15px;
}
