.content {
	background-color: rgb(109, 194, 140);
	padding: 10px;
	font-size: 24px;

	grid-area: content;
}

.img {
	width: 100%;
	height: 170px;

	border-radius: 15px;
}

.profile_info {
	display: flex;
}

.avatar {
	padding: 20px;
	width: 150px;
}

.ava_info {
	padding-top: 20px;
}

.post {
	margin: 20px;
	padding: 20px;
	border: 1px solid gray;
}
